.idea/
__pycache__/

ss/tp04/gas/kinetic_energy\.txt

ss/tp04/gas/energy\.txt

*.jpg

ss/tp04/gas/fpleft\.txt

/*.txt

ex/01/AlgunosVecinos_100_rc6\.txt

ex/01/Dynamic100\.txt

ex/01/FormatoOutput\.txt

ex/01/Static100\.txt

ex/04/dynamic\.txt

ex/us/dynamic_rc6_p\.txt

ex/us/random\.txt

ss/tp01/output\.txt

ss/tp01/outputRandom\.txt

ss/tp02/output\.txt

ss/tp03/output\.txt

ss/tp03/output0006\.txt

ss/tp03/output0009\.txt

ss/tp03/output0012\.txt

ss/tp03/output008\.txt

ss/tp05/output\.txt

ss/tp05/output2\.txt

ss/tp05/outputUnaPart\.txt

out/tp04/mac/output\.txt

out/tp04/server/output\.txt

out/tp04/server/output2\.txt

out/tp04/server/output4\.txt

ss/tp05/flow\.txt
